@import "./variables.scss";

.wrapper {
  .header {
    text-align: center;
    margin: 50px 113px;
    h2 {
      font-size: 64px;
      color: $dullRed;
      margin: 0px 50px 20px 50px;
      -webkit-text-stroke: 1px black;
    }
    p {
      font-size: 24px;
      line-height: 40px;
      margin: 0px 220px 20px 220px;
    }
  }
  .infoSection {
    background-color: $blue;
    padding: 100px 50px;
    text-align: center;
    h2 {
      font-size: 34px;
    }
    p {
      margin: 0px 200px;
      font-size: 20px;
      line-height: 35px;
    }
  }
}
