@import "./customFont.scss";
@import "./variables.scss";

.wrapper {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/homePageBckg.svg);
  .homepage {
    height: 85vh;
    border: 2px white solid;
    border-radius: 10px;
    padding: 30px;
    overflow-x: hidden;
    .navBar {
      display: flex;
      justify-content: space-between;
      .navigationItems {
        color: white;
        font-family: "SuperGame";
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        p {
          max-width: fit-content;
          font-size: 18px;
          transition: all 0.3s ease;
          &:hover {
          transform: scale(1.1);
          cursor: pointer;
  
        }
        }
      }
      .logo {
        display: flex;
        justify-content: center;
        width: 150px;
      }
    }

    .infoContainer {
      text-align: center;
      h1 {
        color: #7c2424;
        margin-top: 0px;
        -webkit-text-stroke: 2px #e0c04d;
        font-family: "SuperGame";
        font-size: 60px;
      }
      .infoBlurb {
        line-height: 25px;
        font-size: 20px;
        margin-top: 30px;
        word-spacing: 12px;
        line-height: 30px;
        padding: 0px 50px;
        color: white;
        background-color: #7c2424;
        padding: 10px 0px;
      }
      .startGameButton {
        margin: 50px 0px;
        width: fit-content;
        border: 6px solid $dullYellow;
        padding: 9px 25px;
        border-radius: 100px;
        background-color: $dullRed;
        transition: all 0.3s ease;
        display: inline-block;
        font-family: "SuperGame";
        color: white;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
          background-color: #45a049;
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}
